In [2]:
import pandas as pd
import os
from langchain.agents.agent_types import AgentType
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain_google_genai import ChatGoogleGenerativeAI

In [3]:
os.environ["GOOGLE_API_KEY"] = "AIzaSyC1xzdPqtDpP96JK18LeQOT5naE3Ies7bk"

In [4]:
try:
    df1 = pd.read_csv('/Users/palammysurareddy/Downloads/19th,22nd - LLM Introduction, OPEN AI PROJECT/Langchain Agents/titanic dataset.csv')
    df2 = pd.read_csv('/Users/palammysurareddy/Downloads/19th,22nd - LLM Introduction, OPEN AI PROJECT/Langchain Agents/titanic dataset.csv')
    df3 = pd.read_csv('/Users/palammysurareddy/Downloads/19th,22nd - LLM Introduction, OPEN AI PROJECT/Langchain Agents/titanic dataset.csv')
except FileNotFoundError:
    print("Error: One or more CSV files (df1.csv, df2.csv, df3.csv) were not found.")
    exit()

In [5]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [9]:
llm = ChatGoogleGenerativeAI(model="gemini-2.5-flash", temperature=0)

E0000 00:00:1758611385.280874   96742 alts_credentials.cc:93] ALTS creds ignored. Not running on GCP and untrusted ALTS is not enabled.

In [10]:
agent = create_pandas_dataframe_agent(
    llm,
    [df1, df2, df3],
    verbose=True,
    allow_dangerous_code=True
)

In [11]:
response = agent.run("Are the number of columns same in all the dataframe?")
print(response)

> Entering new AgentExecutor chain...
Action: python_repl_ast
Action Input:
print(df1.shape[1])
print(df2.shape[1])
print(df3.shape[1])12
12
12
The number of columns in df1, df2, and df3 are all 12.
Final Answer: Yes, the number of columns is the same in all the dataframes.

> Finished chain.
Yes, the number of columns is the same in all the dataframes.

In [12]:
agent.run("How many rows are there")

> Entering new AgentExecutor chain...
Action: python_repl_ast
Action Input: len(df1)891Action: python_repl_ast
Action Input: len(df2)891Action: python_repl_ast
Action Input: len(df3)891I now know the final answer
Final Answer: There are 891 rows in each of the dataframes (df1, df2, and df3).

> Finished chain.

'There are 891 rows in each of the dataframes (df1, df2, and df3).'

In [13]:
agent.run("How many people have more than 3 siblings")

> Entering new AgentExecutor chain...
Action: python_repl_ast
Action Input:
import pandas as pd
print(df1.shape)
print(df2.shape)
print(df3.shape)(891, 12)
(891, 12)
(891, 12)
Action: python_repl_ast
Action Input:
print(df2.shape)
print(df3.shape)(891, 12)
(891, 12)
Action: python_repl_ast
Action Input:
combined_df = pd.concat([df1, df2, df3]).drop_duplicates(subset=['PassengerId'])
num_people_with_more_than_3_siblings = combined_df[combined_df['SibSp'] > 3].shape[0]
print(num_people_with_more_than_3_siblings)30
Final Answer: 30

> Finished chain.

'30'

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [17]:
df2=df1.copy()

In [18]:
df2["Age_Multiplied"]=df1["Age"] * 2

In [19]:
df2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_Multiplied
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,44.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,76.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,52.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,70.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,70.0

In [25]:
agent=create_pandas_dataframe_agent(llm, [df2,df3], verbose=True)

ValueError: This agent relies on access to a python repl tool which can execute arbitrary code. This can be dangerous and requires a specially sandboxed environment to be safely used. Please read the security notice in the doc-string of this function. You must opt-in to use this functionality by setting allow_dangerous_code=True.For general security guidelines, please see: https://python.langchain.com/docs/security/

In [24]:
agent.run("Are the number of columns same in all the dataframe")

> Entering new AgentExecutor chain...
Action: python_repl_ast
Action Input:
print(df1.shape[1])
print(df2.shape[1])
print(df3.shape[1])12
12
12
I now know the final answer
Final Answer: Yes, the number of columns is the same in all the dataframes (12 columns each).

> Finished chain.

'Yes, the number of columns is the same in all the dataframes (12 columns each).'